/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.postlistContainer {
  @apply flex  flex-wrap justify-start;
}

.postImgs {
  max-height: 500px;
}

.movie-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe,
.movie-wrap .in-movie-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}
.position-absolute {
  position: absolute; /*要素を浮かす*/
  /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; /*上下左右中央に*/
  width: 100%; /*widthの指定は必須*/
  /* height: 100px; heightの指定は必須 */
}
