.main
  background: #0a0a0a
  // position: relative

  color: #fff
  height: 100vh
  width: 100vw
  
  .mainText
    color: #f1f1f1
    text-align: center
    // margin: auto auto
    // background: #0a0a0a
    // box-shadow:0 0px 1.3px rgba(0, 0, 0, 0.047),0 0px 11.4px rgba(0, 0, 0, 0.076),0 0px 42.9px rgba(0, 0, 0, 0.104),0 0px 94px rgba(0, 0, 0, 0.2)

    width: 100vw
    position: absolute
    transition: 100ms
    filter: drop-shadow(0px 0px 100px  #ffffff)
    // text-shadow: 0px 0px 10px  #ffffff
    // animation: drop-shadow-animation 10s ease 0s infinite alternate none running
    user-select: none

    // box-shadow: 25px 0px 155px -39px #ffffff

    top: 50%
    left: 50%
    // -webkit-transform: translateY(-50%) translateX(-50%)
    transform: translateY(-50%) translateX(-50%)
    *

      // filter: drop-shadow(0px 0px 20px  #ffffff)
      // filter: drop-shadow(0px 0px 90px  #ffffff)

// @keyframes drop-shadow-animation
//   0%
//     filter: drop-shadow(0px 0px 80px  #ffffff)
//   33%
//     filter: drop-shadow(10px 0px 80px  #ffffff)
//   66%
//     filter: drop-shadow(10px 10px 80px  #ffffff)
//   100%
//     filter: drop-shadow(0px 0px 80px  #ffffff)
.topicon
  user-select: none

  // text-shadow: #53575c 1px 1px, #53575c 0px 0px, #53575c 1px 1px, #53575c 2px 2px, #53575c 3px 3px, #53575c 4px 4px, #53575c 5px 5px, #53575c 6px 6px, #53575c 7px 7px, #53575c 8px 8px, #53575c 9px 9px, #53575c 10px 10px, #53575c 11px 11px, #53575c 12px 12px, #53575c 13px 13px, #53575c 14px 14px, #53575c 15px 15px, #53575c 16px 16px, #53575c 17px 17px, #53575c 18px 18px, #53575c 19px 19px, #53575c 20px 20px, #53575c 21px 21px, #53575c 22px 22px, #53575c 23px 23px, #53575c 24px 24px, #53575c 25px 25px, #53575c 26px 26px, #53575c 27px 27px, #53575c 28px 28px, #53575c 29px 29px, #53575c 30px 30px, #53575c 31px 31px, #53575c 32px 32px, #53575c 33px 33px, #53575c 34px 34px, #53575c 35px 35px, #53575c 36px 36px, #53575c 37px 37px, #53575c 38px 38px, #53575c 39px 39px, #53575c 40px 40px, #53575c 41px 41px, #53575c 42px 42px, #53575c 43px 43px, #53575c 44px 44px, #53575c 45px 45px, #53575c 46px 46px, #53575c 47px 47px, #53575c 48px 48px, #53575c 49px 49px, #53575c 50px 50px, #53575c 51px 51px, #53575c 52px 52px, #53575c 53px 53px, #53575c 54px 54px, #53575c 55px 55px, #53575c 56px 56px, #53575c 57px 57px, #53575c 58px 58px, #53575c 59px 59px, #53575c 60px 60px, #53575c 61px 61px, #53575c 62px 62px, #53575c 63px 63px, #53575c 64px 64px, #53575c 65px 65px, #53575c 66px 66px, #53575c 67px 67px, #53575c 68px 68px, #53575c 69px 69px, #53575c 70px 70px, #53575c 71px 71px, #53575c 72px 72px, #53575c 73px 73px, #53575c 74px 74px, #53575c 75px 75px, #53575c 76px 76px, #53575c 77px 77px, #53575c 78px 78px, #53575c 79px 79px, #53575c 80px 80px, #53575c 81px 81px, #53575c 82px 82px, #53575c 83px 83px, #53575c 84px 84px, #53575c 85px 85px, #53575c 86px 86px, #53575c 87px 87px, #53575c 88px 88px, #53575c 89px 89px, #53575c 90px 90px, #53575c 91px 91px, #53575c 92px 92px, #53575c 93px 93px, #53575c 94px 94px, #53575c 95px 95px, #53575c 96px 96px, #53575c 97px 97px, #53575c 98px 98px,#53575c 99px 99px,#53575c 100px 100px
  font-family: 'Inter', sans-serif
  font-weight: 800
