.title
  // color: #f00
  font-weight: bold
  font-size: 64px
.content
  // width: 30px !important
  border: 1px solid #efefef
  border-radius: 1rem
  padding: 50px
  // background-color: #f00

.hr
  border-top: 1px solid rgba(0,0,0,.3)
  margin-bottom: 50px
.postname
  margin-left: 0.25rem

.back_to_home

  // margin: 10px

.backbutton
  // border: 1px solid #efefef
  min-width: 60px
  border-radius: 1rem
  // padding: 30px
  // margin: 20px 0
  cursor: pointer
  // transition: 200ms
  // background: #f00
  &:hover
    color: #007bff

    // box-shadow: 4px 4px 10px  #80808056
