$first-color: #303841
$second-color: #00adb5
$third-color: #eeeeee
$fourth-color: #ff5722
$primary-text-color: #212121
$secondary-text-color: #757575
$divider-color: #BDBDBD
$icon-color: #000000

.header_background
  background: $first-color
.header_Nav_text
  color: #aaa
  &:hover
    color: #fff
.header_margin
  height: 70px
