.PostList
  border: 1px solid #efefef
  border-radius: 1rem
  padding: 30px
  margin: 10px 0
  cursor: pointer
  transition: 100ms
  &:hover
    color: #007bff

.postlistview
  padding: 0
  // max-width: 900px
