.PostList
  // border: 1px solid #efefef
  border-radius: 1rem
  // padding: 30px
  margin: 20px 0
  cursor: pointer
  transition: 200ms
  --text-opacity: 1
  color: #1a202c
  color: rgba(26, 32, 44, var(--text-opacity))
  &:hover
    color: #007bff

    box-shadow: 4px 4px 10px  #80808056

.postlistview
  padding: 0
  // max-width: 900px
